body {
    background-color: #e4a1eb;
}

h1 {
    text-align: center;
    color: rgb(94, 5, 60);
}

h2 {
    color: rgb(81, 10, 90);
    margin: 20px;
}

h3 {
    color: rgb(85, 20, 146);
}

ul {
    list-style-type: none;
}

main {
    display:flex;
}

article {
    margin: 20px;
}

img {
    width: 260px;
    height: 220px;
}

.computer img {
    margin: 50px;
}

.target img {
    margin: 50px;
}

.scientist img {
    margin: 30px;
}

footer {
    margin-top: 200px;
}